# Виртуальное окружение
.venv/
venv/
env/

# Секретные настройки (ОЧЕНЬ ВАЖНО!)
.env

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Настройки IDE (PyCharm/VSCode)
.idea/
.vscode/

# База данных (если вдруг решишь использовать SQLite для тестов)
*.sqlite3
*.db